eureka:
   client:
      serviceUrl:
         defaultZone: http://localhost:8761/eureka/            

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/spring_batch
    username: username
    password: passwordhttps://github.com/chimera9900/ecommerce-remote-config-service-repo
    tomcat.max-wait: 20000
    tomcat.max-active: 50
    tomcat.max-idle: 20
    tomcat.min-idle: 15
    validationQuery: SELECT 1
    jpa:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update


      
